<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../components/style.css">
    <title>Calcula tu edad</title>
</head>
<body>
    <section class="box_Padre">
        <article class="box_Container">
            <h1>Bienvenidos</h1>
            <p>Seleciona por favor tu fecha</p>
        </article>
        <article class="box_Container_Dos">
            <input type="date" id="fecha_Nacimiento" min="1920-01-01" max="2023-12-31">
            <h3 id="edad"><strong></strong></h3>
            <script src="../components/scripts.js"></script>
        </article>
    </section>
</body>
</html>